/* line 1, ../sass/sass/components/_typography.scss */
body {
  font-size: 20px;
}

/* line 4, ../sass/sass/components/_typography.scss */
h2 {
  font-size: 2.4rem;
  font-weight: 900;
}
@media only screen and (min-width: 780px) {
  /* line 4, ../sass/sass/components/_typography.scss */
  h2 {
    font-size: 4rem;
  }
}

/* line 11, ../sass/sass/components/_typography.scss */
h3 {
  margin-bottom: 0;
  padding-bottom: 1em;
}

/* line 15, ../sass/sass/components/_typography.scss */
p {
  font-size: 20px;
}

/* line 2, ../sass/sass/components/_fancybox.scss */
.text.fancybox-content {
  background: transparent;
}

/* line 1, ../sass/sass/components/_button.scss */
.btn, .blue-btn, .button {
  background-image: linear-gradient(244deg, #A8D52A, #24793b);
  color: #FFFFFF;
  border-radius: 14px;
  font-size: 1.35em;
  margin-top: 1em;
  display: inline-block;
  padding: .5em 1.25em;
}
/* line 9, ../sass/sass/components/_button.scss */
.btn.inverted, .blue-btn.inverted, .button.inverted {
  background-image: none;
  background-color: #FFFFFF;
  border: 2px solid #A8D52A;
  color: #A8D52A;
  padding: calc(.5em - 2px) calc(1.25em - 2px);
}
@media only screen and (min-width: 780px) {
  /* line 1, ../sass/sass/components/_button.scss */
  .btn, .blue-btn, .button {
    padding: .5em 2.5em;
  }
  /* line 18, ../sass/sass/components/_button.scss */
  .btn.inverted, .blue-btn.inverted, .button.inverted {
    padding: calc(.5em - 2px) calc(2.5em - 2px);
  }
}

/* line 23, ../sass/sass/components/_button.scss */
.button {
  font-size: 1em;
}

/* line 1, ../sass/sass/components/_zohoform.scss */
#crmWebToEntityForm {
  max-width: 100%;
}
/* line 7, ../sass/sass/components/_zohoform.scss */
#crmWebToEntityForm form table tr td {
  display: block;
}
@media only screen and (min-width: 780px) {
  /* line 7, ../sass/sass/components/_zohoform.scss */
  #crmWebToEntityForm form table tr td {
    display: table-cell;
  }
}
/* line 16, ../sass/sass/components/_zohoform.scss */
#crmWebToEntityForm .apply-now {
  display: inline-block;
  background: #A9C863;
  color: #FFF;
  padding: 1em 2em;
  border-radius: 7px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

/* line 2, ../sass/sass/components/_lists.scss */
ul.check-list {
  margin-left: 2.5em;
}
/* line 4, ../sass/sass/components/_lists.scss */
ul.check-list li {
  list-style: none;
  position: relative;
  font-size: 1.2em;
  margin: 1em 0;
}
/* line 9, ../sass/sass/components/_lists.scss */
ul.check-list li:before {
  content: '';
  display: block;
  position: relative;
  border-radius: 100%;
  transform: none;
  background-image: url(../images/round-green-arrow.png);
  top: 5px;
  left: -55px;
  width: 40px;
  height: 40px;
  position: absolute;
  background-size: contain;
}
@media only screen and (min-width: 780px) {
  /* line 25, ../sass/sass/components/_lists.scss */
  ul.column-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
/* line 32, ../sass/sass/components/_lists.scss */
ul.column-list li {
  font-size: 1.25em;
  list-style-type: disc;
  flex: 0 0 42.5%;
  margin-bottom: 0.5em;
}

/* line 1, ../sass/sass/modules/_body.scss */
#container {
  overflow: hidden;
}

/* line 1, ../sass/sass/modules/_header.scss */
header {
  background-color: transparent !important;
}
/* line 3, ../sass/sass/modules/_header.scss */
header #inner-header {
  background-color: transparent !important;
}
/* line 7, ../sass/sass/modules/_header.scss */
header #inner-header #logo svg {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  /* line 12, ../sass/sass/modules/_header.scss */
  header #inner-header .wrap {
    grid-template-rows: 50px auto auto;
  }
  /* line 15, ../sass/sass/modules/_header.scss */
  header #inner-header .wrap #logo {
    grid-row: 2;
  }
  /* line 18, ../sass/sass/modules/_header.scss */
  header #inner-header .wrap .next {
    display: flex;
  }
  /* line 20, ../sass/sass/modules/_header.scss */
  header #inner-header .wrap .next .nav {
    flex: 0 1 100%;
    align-items: center;
  }
  /* line 23, ../sass/sass/modules/_header.scss */
  header #inner-header .wrap .next .nav li {
    font-weight: 900;
    font-size: 1.35em;
  }
}
@media only screen and (min-width: 1030px) {
  /* line 33, ../sass/sass/modules/_header.scss */
  header #inner-header #menu-main li {
    margin-left: 6%;
  }
}

/* line 3, ../sass/sass/modules/_blog.scss */
.blog #sidebar1 #categories-2, .archive #sidebar1 #categories-2 {
  background-color: white;
  border-radius: 10px;
  padding: 1em;
}
@media only screen and (min-width: 780px) {
  /* line 3, ../sass/sass/modules/_blog.scss */
  .blog #sidebar1 #categories-2, .archive #sidebar1 #categories-2 {
    padding: 1em 3em;
  }
}
/* line 10, ../sass/sass/modules/_blog.scss */
.blog #sidebar1 #categories-2:after, .archive #sidebar1 #categories-2:after {
  content: '';
  display: block;
  clear: both;
}
/* line 15, ../sass/sass/modules/_blog.scss */
.blog #sidebar1 #categories-2 h2, .archive #sidebar1 #categories-2 h2 {
  display: inline-block;
  float: left;
  color: #7CB742;
}
/* line 20, ../sass/sass/modules/_blog.scss */
.blog #sidebar1 #categories-2 ul, .archive #sidebar1 #categories-2 ul {
  float: left;
  list-style: none;
  margin-bottom: 0;
}
@media only screen and (min-width: 780px) {
  /* line 20, ../sass/sass/modules/_blog.scss */
  .blog #sidebar1 #categories-2 ul, .archive #sidebar1 #categories-2 ul {
    display: flex;
  }
}
/* line 28, ../sass/sass/modules/_blog.scss */
.blog #sidebar1 #categories-2 ul li, .archive #sidebar1 #categories-2 ul li {
  text-transform: capitalize;
  font-size: 1.25em;
}
@media only screen and (min-width: 780px) {
  /* line 28, ../sass/sass/modules/_blog.scss */
  .blog #sidebar1 #categories-2 ul li, .archive #sidebar1 #categories-2 ul li {
    margin-right: 2em;
  }
}
/* line 34, ../sass/sass/modules/_blog.scss */
.blog #sidebar1 #categories-2 ul li a, .archive #sidebar1 #categories-2 ul li a {
  color: #2F2F2F;
}
/* line 36, ../sass/sass/modules/_blog.scss */
.blog #sidebar1 #categories-2 ul li a:hover, .blog #sidebar1 #categories-2 ul li a:visited, .archive #sidebar1 #categories-2 ul li a:hover, .archive #sidebar1 #categories-2 ul li a:visited {
  color: #2F2F2F;
}
/* line 44, ../sass/sass/modules/_blog.scss */
.blog main, .archive main {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
/* line 63, ../sass/sass/modules/_blog.scss */
.blog main:before, .blog main:after, .archive main:before, .archive main:after {
  display: none;
}
/* line 66, ../sass/sass/modules/_blog.scss */
.blog main article, .archive main article {
  background-color: white;
  border-radius: 10px;
  margin-top: 0 !important;
  padding: 1em !important;
  min-height: 525px;
}
@media only screen and (min-width: 780px) {
  /* line 66, ../sass/sass/modules/_blog.scss */
  .blog main article, .archive main article {
    flex: 0 1 30%;
  }
}
/* line 75, ../sass/sass/modules/_blog.scss */
.blog main article.empty, .archive main article.empty {
  background-color: transparent;
}
@media only screen and (min-width: 1030px) {
  /* line 66, ../sass/sass/modules/_blog.scss */
  .blog main article, .archive main article {
    display: block;
  }
}
/* line 81, ../sass/sass/modules/_blog.scss */
.blog main article .thumbnail, .archive main article .thumbnail {
  height: 175px;
  overflow: hidden;
  margin-right: 0;
}
/* line 85, ../sass/sass/modules/_blog.scss */
.blog main article .thumbnail img, .archive main article .thumbnail img {
  height: 100%;
  width: 100%;
}
/* line 90, ../sass/sass/modules/_blog.scss */
.blog main article header, .archive main article header {
  margin-bottom: 0;
}
/* line 93, ../sass/sass/modules/_blog.scss */
.blog main article .byline, .archive main article .byline {
  font-size: .75em;
}
/* line 97, ../sass/sass/modules/_blog.scss */
.blog main article .entry-content p, .archive main article .entry-content p {
  font-size: 16px;
}

/* line 106, ../sass/sass/modules/_blog.scss */
.single .banner {
  margin-top: 1.5em;
}
/* line 108, ../sass/sass/modules/_blog.scss */
.single .banner .black {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 111, ../sass/sass/modules/_blog.scss */
.single .banner .black .wrap h1, .single .banner .black .wrap p {
  color: #FFFFFF;
}
@media only screen and (min-width: 1030px) {
  /* line 108, ../sass/sass/modules/_blog.scss */
  .single .banner .black {
    min-height: auto;
  }
}
/* line 123, ../sass/sass/modules/_blog.scss */
.single #sidebar1 .latest.widget h3 {
  font-weight: 900;
}
/* line 126, ../sass/sass/modules/_blog.scss */
.single #sidebar1 .latest.widget h4, .single #sidebar1 .latest.widget h3 {
  color: #7CB742;
}
/* line 128, ../sass/sass/modules/_blog.scss */
.single #sidebar1 .latest.widget h4 a, .single #sidebar1 .latest.widget h3 a {
  color: #7CB742;
}
/* line 130, ../sass/sass/modules/_blog.scss */
.single #sidebar1 .latest.widget h4 a:visited, .single #sidebar1 .latest.widget h4 a:hover, .single #sidebar1 .latest.widget h3 a:visited, .single #sidebar1 .latest.widget h3 a:hover {
  color: #7CB742;
}
/* line 134, ../sass/sass/modules/_blog.scss */
.single #sidebar1 .latest.widget h4 .tiny, .single #sidebar1 .latest.widget h3 .tiny {
  display: none;
}

/* line 2, ../sass/sass/modules/_footer.scss */
footer.footer {
  padding-top: 0;
}
/* line 4, ../sass/sass/modules/_footer.scss */
footer.footer .copyright {
  background: transparent;
}
@media only screen and (min-width: 768px) {
  /* line 8, ../sass/sass/modules/_footer.scss */
  footer.footer #inner-footer section {
    flex: 01 25%;
  }
}
/* line 13, ../sass/sass/modules/_footer.scss */
footer.footer #inner-footer section h2.h3 {
  font-size: 1em;
  font-weight: 900;
}
/* line 18, ../sass/sass/modules/_footer.scss */
footer.footer #inner-footer section:first-of-type {
  margin-right: 10%;
  flex: 0 1 30%;
}
/* line 25, ../sass/sass/modules/_footer.scss */
footer:before {
  display: block;
  content: "";
  width: 100%;
  height: 8px;
  background-image: linear-gradient(244deg, #A8D52A, #24793b);
}
@media only screen and (min-width: 481px) {
  /* line 33, ../sass/sass/modules/_footer.scss */
  footer a.logo img {
    max-width: 400px !important;
  }
}

@media only screen and (max-width: 780px) {
  /* line 2, ../sass/sass/modules/_video.scss */
  iframe {
    max-width: 100%;
    height: calc(100vw - 5em);
  }
}
/* line 2, ../sass/sass/blocks/_all.scss */
section.center-heading h2 {
  text-align: center;
}
/* line 7, ../sass/sass/blocks/_all.scss */
section.center-title h3 {
  text-align: center;
}
/* line 12, ../sass/sass/blocks/_all.scss */
section.remove-top-padding .wrap {
  padding-top: 0;
}
/* line 17, ../sass/sass/blocks/_all.scss */
section.remove-bottom-padding .wrap {
  padding-bottom: 0;
}
/* line 22, ../sass/sass/blocks/_all.scss */
section.remove-padding .wrap {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 30, ../sass/sass/blocks/_all.scss */
section.align-top .wrap .container > * {
  margin: 0;
}
/* line 36, ../sass/sass/blocks/_all.scss */
section.increase-top-margin {
  margin-top: 2em;
}
/* line 39, ../sass/sass/blocks/_all.scss */
section img {
  max-width: 100%;
  height: auto;
}
/* line 2, ../sass/sass/blocks/_list.scss */
section.space-3-column .container {
  justify-content: space-around;
}
/* line 4, ../sass/sass/blocks/_list.scss */
section.space-3-column .container .list-item {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
/* line 9, ../sass/sass/blocks/_list.scss */
section.space-3-column .container .list-item > * {
  flex: 0 1 auto;
  margin: 0 auto;
}
/* line 18, ../sass/sass/blocks/_list.scss */
section.steps .container {
  display: block;
}
/* line 21, ../sass/sass/blocks/_list.scss */
section.steps .container .list-item .image {
  max-width: 50%;
}
@media only screen and (min-width: 480px) {
  /* line 20, ../sass/sass/blocks/_list.scss */
  section.steps .container .list-item {
    flex-direction: row;
  }
  /* line 26, ../sass/sass/blocks/_list.scss */
  section.steps .container .list-item .image {
    flex: 0 1 20%;
    max-width: initial;
  }
  /* line 30, ../sass/sass/blocks/_list.scss */
  section.steps .container .list-item .text {
    padding: 0 2em;
    flex: 0 1 80%;
  }
  /* line 33, ../sass/sass/blocks/_list.scss */
  section.steps .container .list-item .text h3 {
    color: #7CB742;
    font-weight: 900;
  }
}
@media only screen and (min-width: 780px) {
  /* line 17, ../sass/sass/blocks/_list.scss */
  section.steps {
    padding: 3em 0;
  }
  /* line 45, ../sass/sass/blocks/_list.scss */
  section.steps .container {
    justify-content: flex-start;
    display: flex;
  }
  /* line 48, ../sass/sass/blocks/_list.scss */
  section.steps .container .list-item {
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0 24px 64px 0 rgba(22, 27, 45, 0.05);
  }
  /* line 52, ../sass/sass/blocks/_list.scss */
  section.steps .container .list-item:after {
    position: absolute;
    background-image: url(../images/sprite.png);
    background-position: -246px 0;
    width: 42px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    left: unset;
    right: -57px;
    content: "";
    display: block;
  }
  /* line 65, ../sass/sass/blocks/_list.scss */
  section.steps .container .list-item .image {
    position: absolute;
    margin: 0 auto;
    top: -30%;
  }
  /* line 69, ../sass/sass/blocks/_list.scss */
  section.steps .container .list-item .image img {
    max-width: 85%;
    height: auto;
  }
  /* line 74, ../sass/sass/blocks/_list.scss */
  section.steps .container .list-item .text {
    padding: 0 1em;
    margin-top: 60%;
  }
  /* line 77, ../sass/sass/blocks/_list.scss */
  section.steps .container .list-item .text h3 {
    color: #7CB742;
    font-weight: 900;
  }
  /* line 84, ../sass/sass/blocks/_list.scss */
  section.steps .container.count3 .list-item {
    margin-right: 6%;
    flex: 0 1 28%;
  }
  /* line 87, ../sass/sass/blocks/_list.scss */
  section.steps .container.count3 .list-item:nth-child(3n) {
    margin-right: 0;
  }
  /* line 89, ../sass/sass/blocks/_list.scss */
  section.steps .container.count3 .list-item:nth-child(3n):after {
    display: none;
  }
  /* line 96, ../sass/sass/blocks/_list.scss */
  section.steps .container.count4 .list-item {
    margin-right: 6.35%;
    flex: 0 1 20%;
  }
  /* line 99, ../sass/sass/blocks/_list.scss */
  section.steps .container.count4 .list-item:nth-child(4n) {
    margin-right: 0;
  }
  /* line 101, ../sass/sass/blocks/_list.scss */
  section.steps .container.count4 .list-item:nth-child(4n):after {
    display: none;
  }
}
/* line 111, ../sass/sass/blocks/_list.scss */
section.quotes .text {
  margin-top: 1em;
  background-color: #f5f7fa;
  padding: 1em 2em;
  border-radius: 10px;
}
/* line 1, ../sass/sass/blocks/_banner.scss */
section.banner {
  position: relative;
}
/* line 3, ../sass/sass/blocks/_banner.scss */
section.banner .hexagon-background-image {
  position: absolute;
  z-index: -1;
  top: -150px;
  right: -25%;
}
/* line 8, ../sass/sass/blocks/_banner.scss */
section.banner .hexagon-background-image img {
  width: 100%;
  height: auto;
  position: relative;
  top: -150px;
  right: -25%;
}
@media only screen and (min-width: 1030px) {
  /* line 3, ../sass/sass/blocks/_banner.scss */
  section.banner .hexagon-background-image {
    top: -400px;
    right: 75px;
    max-width: 700px;
  }
  /* line 19, ../sass/sass/blocks/_banner.scss */
  section.banner .hexagon-background-image img {
    position: initial;
  }
}
/* line 25, ../sass/sass/blocks/_banner.scss */
section.banner .black {
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  /* line 25, ../sass/sass/blocks/_banner.scss */
  section.banner .black {
    min-height: 750px;
  }
}
/* line 30, ../sass/sass/blocks/_banner.scss */
section.banner .black .wrap {
  padding-top: 5em;
}
@media only screen and (min-width: 1030px) {
  /* line 32, ../sass/sass/blocks/_banner.scss */
  section.banner .black .wrap > h1 {
    width: 50%;
    text-align: left;
  }
}
/* line 38, ../sass/sass/blocks/_banner.scss */
section.banner .black .wrap > p {
  color: #2F2F2F;
}
@media only screen and (min-width: 1030px) {
  /* line 38, ../sass/sass/blocks/_banner.scss */
  section.banner .black .wrap > p {
    width: 70%;
    text-align: left;
  }
}
/* line 46, ../sass/sass/blocks/_banner.scss */
section.banner .black .wrap h1 {
  color: #2F2F2F;
  text-transform: initial;
  line-height: 1.1em;
}
@media only screen and (min-width: 780px) {
  /* line 46, ../sass/sass/blocks/_banner.scss */
  section.banner .black .wrap h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 1em;
  }
}
/* line 56, ../sass/sass/blocks/_banner.scss */
section.banner .black .wrap .btn {
  background-image: linear-gradient(244deg, #A8D52A, #24793b);
  color: #FFFFFF;
  border-radius: 14px;
  font-size: 1em;
  margin-top: 1em;
  display: inline-block;
  padding: .5em 1.25em;
}
@media only screen and (min-width: 780px) {
  /* line 56, ../sass/sass/blocks/_banner.scss */
  section.banner .black .wrap .btn {
    font-size: 1.35em;
  }
}
/* line 67, ../sass/sass/blocks/_banner.scss */
section.banner .black .wrap .btn.inverted {
  background-image: none;
  background-color: #FFFFFF;
  border: 2px solid #A8D52A;
  color: #A8D52A;
  padding: calc(.5em - 2px) calc(1.25em - 2px);
}
@media only screen and (min-width: 780px) {
  /* line 56, ../sass/sass/blocks/_banner.scss */
  section.banner .black .wrap .btn {
    padding: .5em 2.5em;
  }
  /* line 76, ../sass/sass/blocks/_banner.scss */
  section.banner .black .wrap .btn.inverted {
    padding: calc(.5em - 2px) calc(2.5em - 2px);
  }
}
/* line 81, ../sass/sass/blocks/_banner.scss */
section.banner .black .wrap a {
  color: #A8D52A;
}
/* line 86, ../sass/sass/blocks/_banner.scss */
section.banner .polygon {
  display: none;
  position: absolute;
  bottom: -50px;
  right: 5%;
}
@media only screen and (min-width: 1366px) {
  /* line 86, ../sass/sass/blocks/_banner.scss */
  section.banner .polygon {
    bottom: -100px;
  }
}
/* line 94, ../sass/sass/blocks/_banner.scss */
section.banner .polygon img {
  max-height: 225px;
  width: auto;
}
@media only screen and (min-width: 1030px) {
  /* line 94, ../sass/sass/blocks/_banner.scss */
  section.banner .polygon img {
    max-height: 250px;
  }
}
@media only screen and (min-width: 1366px) {
  /* line 94, ../sass/sass/blocks/_banner.scss */
  section.banner .polygon img {
    max-height: 350px;
  }
}
@media only screen and (min-width: 1600px) {
  /* line 94, ../sass/sass/blocks/_banner.scss */
  section.banner .polygon img {
    max-height: 450px;
  }
}
/* line 112, ../sass/sass/blocks/_banner.scss */
section.banner.poly:after {
  position: absolute;
  bottom: -2px;
  right: 0;
  z-index: -1;
  width: 100%;
  text-align: right;
  background: url("../images/polygon.png") center/cover;
  max-height: 796px;
  height: 100%;
  display: block;
  content: "";
}
@media only screen and (min-width: 980px) {
  /* line 127, ../sass/sass/blocks/_banner.scss */
  section.banner .polygon {
    display: block;
  }
}
/* line 2, ../sass/sass/blocks/_validation.scss */
section.validation h2 {
  background-image: linear-gradient(#A8D52A, #24793b);
  color: #FFFFFF;
  text-align: center;
  font-size: 1.5em;
  padding: .25em 0;
  font-weight: 700;
  margin-bottom: 0;
  border-top: 3px solid #24793b;
}
/* line 14, ../sass/sass/blocks/_validation.scss */
section.validation .wrap .slick-track {
  display: flex;
  align-items: center;
}
/* line 18, ../sass/sass/blocks/_validation.scss */
section.validation .wrap .slick-track .list-item h3 {
  text-align: center;
}
/* line 2, ../sass/sass/blocks/_video_popup.scss */
section.list.video-popup .container {
  justify-content: center;
}
/* line 5, ../sass/sass/blocks/_video_popup.scss */
section.list.video-popup .container + p {
  font-size: 2em;
}
@media only screen and (min-width: 980px) {
  /* line 8, ../sass/sass/blocks/_video_popup.scss */
  section.list.video-popup .container .list-item {
    max-width: 60%;
  }
}
/* line 12, ../sass/sass/blocks/_video_popup.scss */
section.list.video-popup .container .list-item .image {
  position: relative;
}
/* line 14, ../sass/sass/blocks/_video_popup.scss */
section.list.video-popup .container .list-item .image h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-100%) translateX(-50%);
  left: 50%;
  padding: 1em 2em;
  color: #FFFFFF;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 900;
  cursor: pointer;
}
/* line 25, ../sass/sass/blocks/_video_popup.scss */
section.list.video-popup .container .list-item .image h3 i {
  color: #7CB742;
  font-size: 2em;
  position: absolute;
  left: .5em;
  top: 20px;
}
/* line 35, ../sass/sass/blocks/_video_popup.scss */
section.list.video-popup .container .list-item .text.fancybox-content {
  background: transparent;
}
/* line 2, ../sass/sass/blocks/_cta.scss */
section.cta .container {
  display: block !important;
}
/* line 5, ../sass/sass/blocks/_cta.scss */
section.cta h2 {
  font-size: 2em;
}
