/* line 1, ../sass/sass/modules/_header.scss */
header {
  background-color: transparent !important;
}
/* line 3, ../sass/sass/modules/_header.scss */
header #inner-header {
  background-color: transparent !important;
}
/* line 7, ../sass/sass/modules/_header.scss */
header #inner-header #logo svg {
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  /* line 12, ../sass/sass/modules/_header.scss */
  header #inner-header .wrap {
    grid-template-rows: 50px auto auto;
  }
  /* line 15, ../sass/sass/modules/_header.scss */
  header #inner-header .wrap #logo {
    grid-row: 2;
  }
  /* line 18, ../sass/sass/modules/_header.scss */
  header #inner-header .wrap .next {
    display: flex;
  }
  /* line 20, ../sass/sass/modules/_header.scss */
  header #inner-header .wrap .next .nav {
    flex: 0 1 100%;
    align-items: center;
  }
  /* line 23, ../sass/sass/modules/_header.scss */
  header #inner-header .wrap .next .nav li {
    font-weight: 900;
    font-size: 1.35em;
  }
}
@media only screen and (min-width: 1030px) {
  /* line 33, ../sass/sass/modules/_header.scss */
  header #inner-header #menu-main li {
    margin-left: 10%;
  }
}

/* line 1, ../sass/sass/blocks/_banner.scss */
section.banner {
  position: relative;
}
/* line 3, ../sass/sass/blocks/_banner.scss */
section.banner .hexagon-background-image {
  position: absolute;
  top: -50%;
  right: 10px;
  z-index: -1;
}
/* line 9, ../sass/sass/blocks/_banner.scss */
section.banner .black {
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  /* line 9, ../sass/sass/blocks/_banner.scss */
  section.banner .black {
    min-height: 750px;
  }
}
