[submodule "wp/wp-content/plugins/braftonium-plugin"]
	path = wp/wp-content/plugins/braftonium-plugin
	url = git://github.com/BraftonSupport/braftonium-plugin
[submodule "wp/wp-content/plugins/BraftonWordpressPlugin-master"]
	path = wp/wp-content/plugins/BraftonWordpressPlugin-master
	url = git://github.com/braftonsupport/braftonwordpressplugin
[submodule "wp/wp-content/themes/braftonium"]
	path = wp/wp-content/themes/braftonium
	url = git://github.com/braftonsupport/braftonium
