#crmWebToEntityForm{
    form{
        // position: absolute;
        
    }
    .apply-now{
        display: inline-block;
        background: #A9C863;
        color: #FFF;
        padding: 1em 2em;
        border-radius: 7px;
        font-size: 1em;
        font-weight: 700;
        cursor: pointer;
    }
}