&.center-heading{
    h2{
        text-align:center;
    }
}
&.center-title{
    h3{
        text-align:center;
    }
}
&.remove-top-padding{
    .wrap{
        padding-top:0;
    }
}
&.remove-bottom-padding{
    .wrap{
        padding-bottom:0;
    }
}
&.remove-padding{
    .wrap{
        padding-top:0;
        padding-bottom:0;
    }
}
&.align-top{
    .wrap{
        .container{
            > * {
                margin:0;
            }
        }
    }
}
&.increase-top-margin{
    margin-top:2em;
}
img{
    max-width:100%;
    height:auto;
}