&.banner{
    position: relative;
    .hexagon-background-image{
        position: absolute;
        z-index:-1;
        top:-150px;
        right:-25%;
        img{
            width:100%;
            height:auto;
            position: relative;
            top:-150px;
            right:-25%;
        }
        @media only screen and (min-width:1030px){
            top:-400px;
            right:75px;
            max-width:700px;
            img{
                position: initial;
            }
        }
        
    }
    .black{
        background-color:transparent;
        @media only screen and (min-width:768px){
            min-height:750px;
        }
        .wrap{
            padding-top:5em;
            > h1{
                @media only screen and (min-width:1030px){
                    width:50%;
                    text-align: left;
                }
            }
            > p{
                @media only screen and (min-width:1030px){
                    width:70%;
                    text-align: left;
                    color:$text;
                }
            }
            h1{
                color:$text;
                text-transform: initial;
                line-height: 1.1em;
                @media only screen and (min-width:780px){
                    font-size:4rem;
                    font-weight: 700;
                    margin-top:1em;
                }
            }
            .btn{
                background-image: linear-gradient(244deg, $lightGreen, $green);
                color:$white;
                border-radius: 14px;
                font-size: 1.35em;
                margin-top:1em;
                display:inline-block;
                padding:.5em 1.25em;
                &.inverted{
                    background-image:none;
                    background-color:$white;
                    border:2px solid $lightGreen;
                    color:$lightGreen;
                    padding:calc(.5em - 2px) calc(1.25em - 2px);
                }
                @media only screen and (min-width:780px){
                    padding: .5em 2.5em;
                    &.inverted{
                        padding:calc(.5em - 2px) calc(2.5em - 2px);
                    }
                }
            }
            a{
                color:$lightGreen;
            }
        }
    }
    .polygon{
        display:none;
        position: absolute;
        bottom:-50px;
        right:5%;
        @media only screen and (min-width:1366px){
            bottom:-100px;
        }
        img{
            max-height:225px;
            width:auto;
            @media only screen and (min-width:1030px){
                max-height:250px;
            }
            @media only screen and (min-width:1366px){
                max-height:350px;
            }
            @media only screen and (min-width:1600px){
                max-height:450px;
            }

        }

    }
    &.poly{

        &:after{
            position: absolute;
            bottom: -2px;
            right: 0;
            z-index: -1;
            width: 100%;
            text-align: right;
            background:url('../images/polygon.png') center/cover;
            max-height:796px;
            height:100%;
            display:block;
            content:"";
        }
    }
    @media only screen and (min-width:980px){
        .polygon{
            display:block;
        }
    }
}