&.validation{
    h2{
        background-image: linear-gradient($lightGreen, $green);
        color:$white;
        text-align: center;
        font-size:1.5em;
        padding:.25em 0;
        font-weight: 700;
        margin-bottom:0;
        border-top:3px solid $green;
    }
    .wrap{
        // padding-top:0;
       .slick-track{
           display:flex;
           align-items:center;
           .list-item{
               h3{
                   text-align:center;
               }
           }
       }
    }
}